<!DOCTYPE html>
{% load static %}
<html>
    <head>
      <meta charset="utf-8">
      <title>Bank</title>
      <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
<!--      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
      <script src="https://kit.fontawesome.com/e6c5fdfa08.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header">
            <div class="container">
              <div class="header_inner">
                <div class="header_left">
                  <div class="footer_social">
                    <a href="https://www.instagram.com/" target="_blank">
                      <i class="fa fa-instagram"></i>
                    </a>
                    <a href="https://vk.com/enzhe_f" target="_blank">
                      <i class="fa fa-vk"></i>
                    </a>
                    <a href="https://wa.me/79196967553" target="_blank">
                      <i class="fa fa-whatsapp"></i>
                    </a>
                    <a href="https://t.me/Enzhe_F" target="_blank">
                      <i class="fa fa-telegram"></i>
                    </a>
                  </div>
                </div>
                <div class="header_right">
                  <a class="nav_link" href="http://127.0.0.1:8000/admin" style="font-weight: 400;">Администрирование</a>
                </div>

                <div class="header_logo">Банковская система</div>
              </div>
            </div>
        </header>


        <div class="header_logo">Оценка кредитоспособности заёмщика</div>
        {% if plot %}
          <form class="decor" action="{% url 'base' %}">
            <div class="form-inner" align="center">
              <h3>Результаты оценки для клиента {{ fio }}</h3>
                <ul style="list-style-type: none">
                  <li><span style="font-weight: bold">Доход: </span>
                    <span>{{ income_input}} - {{ income.term_x}}</span>
                  </li>
                 <li>
                   <span style="font-weight: bold">Первоначальный взнос: </span>
                     <span>{{ payment_input}}% - {{ payment.term_x}}</span>
                 </li>
                 <li>
                   <span style="font-weight: bold">Опыт работы: </span>
                   <span>{{ experience_input}} - {{ experience.term_x}}</span>
                 </li>
                 <li>
                   <span style="font-weight: bold">Возраст: </span>
                   <span>{{ age_input}} - {{ age.term_x}}</span>
                 </li>
                </ul>
                <h3>Кредитоспособность</h3>
               <img src="data:image/png;base64,{{ plot }}" alt="">
              <h3>Кредит
                {% if approve == 1 %}
                <span style="color: #1bd406">одобрен</span>
                {% else %}
                <span style="color: red">не одобрен</span>
                {% endif %}</h3>
              <input type="submit" value="Сбросить">
            </div>
          </form>
        {% else %}
        <form class="decor" action="{% url 'fuzzy' %}" method="POST">
          {% csrf_token %}
          <div class="form-inner">
          <h3>Заполните данные</h3>
          <br>
          <label class="labels">ФИО:</label>
          <input type="text" placeholder="Фамилия Имя Отчество" name="fio">
          <label class="labels">Ваш возраст:</label>
          <input type="number" min="18" max="99" placeholder="Возраст" name="age" required="required">
          <label class="labels">Ваш доход в месяц:</label>
          <input type="number" min="10000" max="5000000" step="1000" placeholder="Доход в месяц" name="income"
                 required="required">
          <label class="labels">Сумма кредита:</label>
          <input type="number" min="10000" max="10000000" step="10000" placeholder="Сумма кредита" name="sum_credit"
                 required="required">
          <label class="labels">Начальный взнос по кредиту:</label>
          <input type="number" min="10000" max="500000" step="10000" placeholder="Начальный взнос по кредиту"
                 name="payment" required="required">
          <label class="labels">Ваш опыт работы:</label>
          <input type="number" min="0" placeholder="Количество лет" name="experience" required="required">
          <input type="submit" value="Рассчитать">
          </div>
          </form>
        {% endif %}

          <br><br>
          <div class="header_logo">Рекомендательная система</div>
          <form class="decor" method="POST" action="{% url 'associated' %}" >
            {% csrf_token %}
            <div class="form-inner">
              <h3>Выберите услугу</h3>
              <br>
<!--              {% for service in services %}-->
<!--              <div class="form-check">-->
<!--                <input class="form-check-input" type="checkbox" value="{{service.name}}" id="flexCheckDefault">-->
<!--                <label class="form-check-label" for="flexCheckDefault">-->
<!--                  {{service.name}}-->
<!--                </label>-->
<!--              </div>-->
<!--              {% endfor %}-->
                <select class="select" name="service">
                  <option disabled>Выберите услугу</option>
                  {% for service in services %}
                  <option value="{{service.name }}">{{service.name}}</option>
                  {% endfor %}
                </select>
              <input type="submit" value="Выбрать">
              </div>
            </form>

        {% if service_client != '' %}
            <form class="decor">
              <div class="form-inner">
                  {% if recom_items %}
                <h3>Рекомендации к услуге "{{service_client}}"</h3>
                  {% for i in recom_items %}
                    <ul>
                        {% for item in i.items %}
                        <li>{{item }}</li>
                        {% endfor %}
                    </ul>
                  <table width="75%" cellspacing="0" border="1">
                      <tr align="center">
                          <th>Поддержка</th>
                          <th>Достоверность</th>
                          <th>Лифт</th>
                      </tr>
                      <tr align="center">
                          <td>{{i.support}} %</td>
                          <td>{{i.confidence}} %</td>
                          <td>{{i.lift}}</td>
                      </tr>
                  </table>
                  <br>
                  <hr align="left" width="100%" />
                  {% endfor %}
                  {% else %}
                  <h3>Рекомендаций к услуге "{{service_client}}" нет</h3>
                  {% endif %}
              </div>
            </form>
        {% endif %}
          <footer class="footer"></footer>
    </body>
</html>